spigot/*
!spigot/install.sh
!spigot/src/*
!spigot/build.sh
!spigot/pom.xml

paper/*
!paper/install.sh
!paper/src/*
!paper/build.sh
!paper/pom.xml


server/paper/*
!server/paper/start.sh

server/spigot/*
!server/spigot/start.sh